:root {
  --color-primario: #6f4e37;
  --color-acento: #ffd700;
  --color-bg: #f4f4f4;
  --color-bg2: #fff8e1;
  --color-bg3: #fff;
  --color-txt: #222;
  --color-txt-sec: #333;
  --color-txt-footer: #555;
  --font-principal: 'Montserrat', Arial, sans-serif;
  --radius: 8px;
  --radius-lg: 12px;
  --shadow: 0 2px 10px #0001;
}
body {
  font-family: var(--font-principal);
  background: var(--color-bg);
  color: var(--color-txt);
}